
/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: .938rem;
  background-color: black;
  overflow-y: scroll;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1120px;
  margin-inline: auto;
}

/*=============== HEADER ===============*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #003EA8;
  box-shadow: 0 2px 16px hsla(220, 32%, 8%, .3);
  z-index: 100;
}

/* Nav */
.nav {
  height: 3.5rem;
}

.logo, 
.nav-abrir, 
.nav-fechar {
  color: white;
}

.logo {
  display: inline-flex;
  align-items: center;
  column-gap: .25rem;
  font-weight: 600;
}

.logo img {
  height: 25px;
  width: 25px;
  border-radius: 50%;
}

.nav-icons {
  position: relative;
  width: 32px;
  height: 32px;
}

.nav-abrir, 
.nav-fechar {
  position: absolute;
  width: max-content;
  height: max-content;
  inset: 0;
  margin: auto;
  font-size: 1.25rem;
  cursor: pointer;
  transition: opacity .1s, transform .4s;
}

.nav-fechar {
  opacity: 0;
}

#profilePicContainer {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  margin: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* add a subtle shadow */
  background-color: #fff; /* add a white background to the container */
  padding: 2px; /* add some padding around the image */
}

#profilePic {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  transition: transform 0.3s ease-in-out;
  &:hover {
    transform: scale(1.1);
  }
}

/* Nav Responsivo */
@media screen and (max-width: 1118px) {
  .nav-menu {
    position: absolute;
    left: 0;
    top: 2.5rem;
    width: 100%;
    height: calc(100vh - 3.5rem);
    overflow: auto;
    pointer-events: none;
    opacity: 0;
    transition: top .4s, opacity .3s;
  }
  .nav-menu::-webkit-scrollbar {
    width: 0;
  }
  .nav-lista {
    background-color: #003EA8;
    padding-top: 1rem;
  }

  .image{
    display: none;
  }
}

.nav-links {
  color: white;
  background-color: #003EA8;
  font-weight: 600;
  padding: 1.25rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color .3s;
}

.nav-links:hover {
  background-color: #003EA8;
}

.menu-responsivo {
  opacity: 1;
  top: 3.5rem;
  pointer-events: initial;
}

/* icons */
.icon-responsivo .nav-abrir {
  opacity: 0;
  transform: rotate(90deg);
}
.icon-responsivo .nav-fechar {
  opacity: 1;
  transform: rotate(90deg);
}

/* Link usuario */
.link-usuario {
  cursor: pointer;
}

.usuario-icon {
  font-size: 1.25rem;
  font-weight: initial;
  transition: transform .4s;
}

.usuario-links {
  padding: 1.25rem 1.25rem 1.25rem 2.5rem;
  color: white;
  background-color: #003EA8;
  display: flex;
  align-items: center;
  column-gap: .5rem;
  font-weight: 600;
  transition: background-color .3s;
}

.usuario-links i {
  font-size: 1.25rem;
  font-weight: initial;
}

.usuario-links:hover {
  background-color: #003EA8;
}

.usuario-menu {
  max-height: 0;
  overflow: hidden;
  transition: max-height .4s ease-out;
}

.link-usuario:hover .usuario-menu {
  max-height: 1000px;
  transition: max-height .4s ease-in;
}

.link-usuario:hover .usuario-icon {
  transform: rotate(180deg);
}

/*=============== HEADER RESPONSIVO ===============*/
@media screen and (max-width: 340px) {
  .container {
    margin-inline: 1rem;
  }

  .nav-links {
    padding-inline: 1rem;
  }
}

@media screen and (min-width: 1118px) {
  .container {
    margin-inline: auto;
  }

  .nav {
    height: calc(3.5rem + 2rem);
    display: flex;
    justify-content: space-between;
  }
  .nav-icons {
    display: none;
  }
  .nav-lista {
    height: 100%;
    display: flex;
    column-gap: 3rem;
  }
  .nav-links {
    height: 100%;
    padding: 0;
    justify-content: initial;
    column-gap: .25rem;
  }
  .nav-links:hover {
    background-color: transparent;
  }

  .link-usuario {
    position: relative;
  }

  .usuario-menu {
    max-height: initial;
    overflow: initial;
    position: absolute;
    left: 0;
    top: 6rem;
    opacity: 0;
    pointer-events: none;
    transition: opacity .3s, top .3s;
  }

  .usuario-links {
    padding-inline: 2rem;
  }

  .link-usuario:hover .usuario-menu {
    opacity: 1;
    top: 5.5rem;
    pointer-events: initial;
    transition: top .3s;
  }
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li { list-style: none; }

a { text-decoration: none; }

button {
  font: inherit;
  background: none;
  border: none;
  cursor: pointer;
}

textarea,
input {
  font: inherit;
  background: none;
  border: none;
  width: 100%;
}

:is(input, textarea):focus { outline: none; }

:focus { outline-offset: 4px; }

html {
  font-family: var(--ff-poppins);
  scroll-behavior: smooth;
}

body {
  background: black;
  overflow-x: hidden;
}

::-webkit-scrollbar { width: 10px; }

::-webkit-scrollbar-track { background: white; }

::-webkit-scrollbar-thumb { background: hsl(0, 0%, 50%); }

.container { padding: 0 15px; }

.h1,
.h2,
.h3 {
  font-weight: 600;
  line-height: 1.3;
  text-transform: capitalize;
}

.h1 {
  color: #003EA8;
  font-size: 32px;
}

.h2 { font-size: 26px; }

.h3 {
  color: #003EA8;
  font-size: 22px;
}

.h4 {
  color: white;
  font-size: 15px;
  font-weight: 600;
}

.btn {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  padding: 10px 40px;
  border: 1px solid;
  border-radius: 6px;
}

.btn-primary {
  background: #003EA8;
  border-color: #003EA8;
  color: white;
}

/*=============== LANDING PAGE ===============*/

main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4.5rem; /* Adicionando margem superior */
}

main div:first-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10vw;
    width: 30vw;
    margin-top: 70px;
}

main div:first-child h3 {
    font-size: 1.05rem;
    color: white;
}

main div:first-child h1 {
    font-size: 2.6rem;
    color: white;
}

#typing-bar {
    font-size: 2.3rem;
    color: white;
}

main div:first-child #typing-bar {
    animation: blink 0.5s infinite linear;
}

main > div:last-child {
    width: 60vw;
}

main div:last-child {
    display: flex;
    justify-content: center;
    align-items: center;
}

main div:last-child img {
    width: 40%;
    height: 45vh;
    margin-top: 110px;
    background: white;
    border-radius: 48px;
}

@keyframes blink {
    0%, 100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

/*=============== HERO SECTION ===============*/
.hero {
    position: relative;
    padding: 130px 0 140px;
    z-index: 1;
}

.hero-content {
    text-align: center;
}

.hero-title,
.hero-text {
    margin-bottom: 40px;
}

.hero-text {
    font-size: 18px;
    color: #003EA8;
}

.hero .btn-primary {
    margin-inline: auto;
    margin-bottom: 40px;
}

.hero-banner {
    display: none;
}

.shape-content {
    position: absolute;
    width: 900px;
    top: -230px;
    right: -300px;
    z-index: -1;
}

/* Espaçamento geral entre seções principais */
section {
    margin-bottom: 60px; /* Espaço inferior de 60px */
}

.about {
  position: relative;
  z-index: 1;
  background: url("../images/about-bg.png") no-repeat;
  background-position: center;
  background-size: cover;
  padding: 120px 0;
  text-align: center;
}

.about-top { 
  margin-bottom: 60px; /* Adicionando espaçamento entre as seções */
}

.about .h2 { color: white; }

.about-top .section-title { margin-bottom: 20px; }

.about-top .section-text {
  color: white;
  font-size: 18px;
  margin-bottom: 60px;
}

.about-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}

.about-card {
  background: white;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 2px 4px hsla(0, 0%, 0%, 0.1);
}

.card-icon {
  color: #003EA8;
  font-size: 45px;
  width: max-content;
  margin-inline: auto;
  margin-bottom: 15px;
}

.about-card .card-title { margin-bottom: 15px; }

.about-card .card-text { color: #003EA8; }

.about-bottom-banner { margin-bottom: 120px; }

.about-bottom-banner img {
  width: 100%;
  height: 100%;
}

.about-bottom .section-title { margin-bottom: 20px; }

.about-bottom .section-text {
  color: white;
  font-size: 18px;
  margin-bottom: 40px;
}

.features {
  padding: 120px 0;
  text-align: center;
}

.features .section-title {
  color: white;
  margin-bottom: 20px;
}

.features .section-text {
  color: white;
  font-size: 18px;
  margin-bottom: 120px;
}

.features-item:first-child { margin-bottom: 100px; }

.features-item-banner {
  max-width: 350px;
  margin-inline: auto;
  margin-bottom: 60px;
}

.features-item-banner img { width: 100%; }

.features-item .item-title {
  color: white;
  margin-bottom: 20px;
}

.features-item .item-text {
  color: white;
  font-size: 18px;
}

.contact { margin-bottom: 120px; }

.contact-content { margin-bottom: 50px; }

.contact-title {
  color: white;
  margin-bottom: 60px;
  text-align: center;
  font-weight: 500 !important;
}

.contact-banner img { width: 100%; }

.input-wrapper { margin-bottom: 30px; }

.input-label {
  color: white;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 10px;
}

.input-field {
  border-bottom: 1px solid white;
  padding: 7px 0;
  font-size: 14px;
}

.input-field::placeholder { color: white; }

textarea {
  max-height: 300px;
  min-height: 100px;
  height: 100px;
  resize: vertical;
}

footer { background: white; }

.footer-top { padding: 80px 0 50px; }

.footer-brand { margin-bottom: 20px; }

footer .logo { margin-bottom: 30px; }

.footer-text {
  color: white;
  font-size: 14px;
  margin-bottom: 20px;
}

.social-list {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
}

.social-link {
  color: white;
  font-size: 18px;
  margin-bottom: 10px;
}

.social-link:is(:hover, :focus) { color: black; }

.footer-link-list:not(:last-child) { margin-bottom: 30px; }

.footer-link-list .link-title { margin-bottom: 15px; }

.footer-link {
  color: white;
  font-size: 14px;
  margin-bottom: 10px;
  max-width: 150px;
}

.footer-link:is(:hover, :focus) { color: black; }

.footer-bottom {
  padding: 20px 15px;
  border-top: 1px solid hsla(0, 0%, 18%, 0.2);
}

.copyright {
  color: white;
  text-align: center;
  font-size: 14px;
}

.copyright a {
  display: inline-block;
  color: white;
}

.copyright a:is(:hover, :focus) { color: black; }

.go-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 5;
  width: 50px;
  height: 50px;
  background: #003EA8;
  box-shadow: 0 2px 4px hsla(0, 0%, 0%, 0.25);
  display: grid;
  place-items: center;
  border-radius: 50%;
  color: white;
  font-size: 22px;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: 0.25s ease-in-out;
}

.go-top.active {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

@media (min-width: 450px) {
  .h1,
  .h2 { font-weight: 700; }

  .btn { padding-block: 15px; }

  .navbar {
    left: auto;
    width: 300px;
  }

  .hero { padding: 140px 0 160px; }

  .shape-content {
    top: -70px;
    right: -260px;
  }

  .about-card .card-title { padding-inline: 40px; }

  .about-bottom-banner {
    max-width: 400px;
    margin-inline: auto;
    margin-bottom: 40px;
  }

  .about-bottom-content { padding-inline: 50px; }

  .cta-form {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 30px;
  }

  .cta input { margin-bottom: 0; }

  .contact-banner {
    max-width: 300px;
    margin-inline: auto;
  }
}

@media (min-width: 560px) {
  .container {
    max-width: 550px;
    margin-inline: auto;
  }

  .navbar-wrapper { position: relative; }

  .navbar {
    top: calc(100% + 15px);
    right: 0;
  }

  .hero-content,
  .about-bottom-content { text-align: left; }

  .hero .btn-primary { margin-inline: 0; }

  .shape-content {
    top: -156px;
    right: -152px;
  }

  .footer-brand { margin-bottom: 40px; }

  .footer-link-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 768px) {
  .container { max-width: 740px; }

  .about-list { grid-template-columns: 1fr 1fr; }

  .about-card {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .about-card .card-title { padding-inline: 0; }
}

@media (min-width: 1024px) {

  .container { max-width: 950px; }
  .navbar-menu-btn { display: none; }

  .navbar {
    max-height: unset;
    visibility: visible;
    position: static;
    width: auto;
    background: none;
    pointer-events: all;
    overflow: visible;
    display: flex;
  }

  .navbar-list {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 20px;
  }

  .nav-link {
    opacity: 1;
    padding: 0 15px;
  }

  .navbar .btn-primary { display: block; }

  .hero-content { max-width: 550px; }

  .hero-banner {
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 500px;
    padding-top: 500px;
    background: url("../images/hero-banner.png") no-repeat;
    background-size: contain;
  }

  .about-top .section-text {
    max-width: 650px;
    margin-inline: auto;
  }

  .about-list { grid-template-columns: repeat(3, 1fr); }

  .about-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .about-bottom-banner {
    margin-bottom: 0;
    height: 330px;
  }

  .about-bottom-content {
    padding-inline: 0;
    width: 50%;
  }

  .features :is(.section-title, .section-text) {
    max-width: 650px;
    margin-inline: auto;
  }

  .features-item {
    display: flex;
    align-items: center;
    gap: 50px;
  }

  .features-item-banner {
    margin-inline: 0;
    margin-bottom: 0;
  }

  .feature-item-content {
    width: 50%;
    text-align: left;
  }

  .features-item:last-child { flex-direction: row-reverse; }

  .cta-card > * {
    max-width: 500px;
    margin-inline: auto;
  }

  .contact .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
  }

  .contact-content { max-width: 400px; }
  .contact-title { text-align: left; }
  .contact-form { width: 50%; }
  .footer-top .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
  }

  .footer-brand,
  .footer-link-list:not(:last-child) { margin-bottom: 0; }
  .footer-link-box {
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
  }
}

@media (min-width: 1200px) {
  .container { max-width: 1150px; }
  .hero-banner { right: 100px; }
  .about-bottom-banner { height: 400px; }
  .features :is(.section-title, .section-text) { max-width: 850px; }
}

/*=============== FOOTER ===============*/

footer { background: white; }

.footer-top { padding: 80px 0 50px; }

.footer-brand { margin-bottom: 20px; }

footer .logo { margin-bottom: 30px; }

.footer-text {
  color: white;
  font-size: 14px;
  margin-bottom: 20px;
}

.social-list {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
}

.social-link {
  color: white;
  font-size: 18px;
  margin-bottom: 10px;
}

.social-link:is(:hover, :focus) { color: white; }

.footer-link-list:not(:last-child) { margin-bottom: 30px; }

.footer-link-list .link-title { margin-bottom: 15px; }

.footer-link {
  color: white;
  font-size: 14px;
  margin-bottom: 10px;
  max-width: 150px;
}

.footer-link:is(:hover, :focus) { color: white; }

.footer-bottom {
  padding: 20px 15px;
  border-top: 1px solid hsla(0, 0%, 18%, 0.2);
}

.copyright {
  color: white;
  text-align: center;
  font-size: 14px;
}

.copyright a {
  display: inline-block;
  color: white;
}

.copyright a:is(:hover, :focus) { color: white; }

@media (min-width: 450px) {
  .h1,
  .h2 { font-weight: 700; }

  .btn { padding-block: 15px; }

  .navbar {
    left: auto;
    width: 300px;
  }

  .hero { padding: 140px 0 160px; }

  .shape-content {
    top: -70px;
    right: -260px;
  }

  .about-card .card-title { padding-inline: 40px; }

  .about-bottom-banner {
    max-width: 400px;
    margin-inline: auto;
    margin-bottom: 40px;
  }

  .about-bottom-content { padding-inline: 50px; }

  .cta-form {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 30px;
  }

  .cta input { margin-bottom: 0; }

  .contact-banner {
    max-width: 300px;
    margin-inline: auto;
  }
}

@media (min-width: 560px) {
  .container {
    max-width: 550px;
    margin-inline: auto;
  }

  .navbar-wrapper { position: relative; }

  .navbar {
    top: calc(100% + 15px);
    right: 0;
  }

  .hero-content,
  .about-bottom-content { text-align: left; }

  .hero .btn-primary { margin-inline: 0; }

  .shape-content {
    top: -156px;
    right: -152px;
  }

  .footer-brand { margin-bottom: 40px; }

  .footer-link-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 768px) {
  .container { max-width: 740px; }

  .about-list { grid-template-columns: 1fr 1fr; }

  .about-card {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .about-card .card-title { padding-inline: 0; }
}

@media (min-width: 1024px) {

  .container { max-width: 950px; }
  .navbar-menu-btn { display: none; }

  .navbar {
    max-height: unset;
    visibility: visible;
    position: static;
    width: auto;
    background: none;
    pointer-events: all;
    overflow: visible;
    display: flex;
  }

  .navbar-list {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 20px;
  }

  .nav-link {
    opacity: 1;
    padding: 0 15px;
  }

  .navbar .btn-primary { display: block; }

  .hero-content { max-width: 550px; }

  .hero-banner {
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 500px;
    padding-top: 500px;
    background: url("../images/hero-banner.png") no-repeat;
    background-size: contain;
  }

  .about-top .section-text {
    max-width: 650px;
    margin-inline: auto;
  }

  .about-list { grid-template-columns: repeat(3, 1fr); }

  .about-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .about-bottom-banner {
    margin-bottom: 0;
    height: 330px;
  }

  .about-bottom-content {
    padding-inline: 0;
    width: 50%;
  }

  .features :is(.section-title, .section-text) {
    max-width: 650px;
    margin-inline: auto;
  }

  .features-item {
    display: flex;
    align-items: center;
    gap: 50px;
  }

  .features-item-banner {
    margin-inline: 0;
    margin-bottom: 0;
  }

  .feature-item-content {
    width: 50%;
    text-align: left;
  }

  .features-item:last-child { flex-direction: row-reverse; }

  .cta-card > * {
    max-width: 500px;
    margin-inline: auto;
  }

  .contact .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
  }

  .contact-content { max-width: 400px; }
  .contact-title { text-align: left; }
  .contact-form { width: 50%; }
  .footer-top .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
  }

  .footer-brand,
  .footer-link-list:not(:last-child) { margin-bottom: 0; }
  .footer-link-box {
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
  }
}

@media (min-width: 1200px) {
  .container { max-width: 1150px; }
  .hero-banner { right: 100px; }
  .about-bottom-banner { height: 400px; }
  .features :is(.section-title, .section-text) { max-width: 850px; }
}

footer { background: #003EA8; }

.footer-top { padding: 80px 0 50px; }

.footer-brand { margin-bottom: 20px; }

footer .logo { margin-bottom: 30px; }

.footer-text {
  color: white;
  font-size: var(--fs-6);
  margin-bottom: 20px;
}

.social-list {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
}

.social-link {
  color: white;
  font-size: var(--fs-4);
  margin-bottom: 10px;
}

.footer-link-list:not(:last-child) { margin-bottom: 30px; }

.footer-link-list .link-title { margin-bottom: 15px; }

.footer-link {
  color: white;
  font-size: var(--fs-6);
  margin-bottom: 10px;
  max-width: 150px;
}

.footer-bottom {
  padding: 20px 15px;
  border-top: 1px solid hsl(0, 0%, 100%);
}
