/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: .938rem;
  background-color: #1e3662;
  overflow-y: scroll;
  margin-bottom: 5rem; 
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1120px;
  margin-inline: auto;
}

/*=============== HEADER ===============*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #06214b;
  box-shadow: 0 2px 16px hsla(220, 32%, 8%, .3);
  z-index: 100;
}

/* Nav */
.nav {
  height: 3.5rem;
}

.logo, 
.nav-abrir, 
.nav-fechar {
  color: white;
}

.logo {
  display: inline-flex;
  align-items: center;
  column-gap: .25rem;
  font-weight: 600;
}

.logo i {
  font-weight: initial;
  font-size: 1.25rem;
}

.nav-icons {
  position: relative;
  width: 32px;
  height: 32px;
}

.nav-abrir, 
.nav-fechar {
  position: absolute;
  width: max-content;
  height: max-content;
  inset: 0;
  margin: auto;
  font-size: 1.25rem;
  cursor: pointer;
  transition: opacity .1s, transform .4s;
}

.nav-fechar {
  opacity: 0;
}

.image{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image img{
  height: 60px;
  width: 60px;
  border-radius: 50%;
  box-shadow: 1px 1px 3px black;
  border: 3px solid #fff;
}

/* Nav Responsivo */
@media screen and (max-width: 1118px) {
  .nav-menu {
    position: absolute;
    left: 0;
    top: 2.5rem;
    width: 100%;
    height: calc(100vh - 3.5rem);
    overflow: auto;
    pointer-events: none;
    opacity: 0;
    transition: top .4s, opacity .3s;
  }
  .nav-menu::-webkit-scrollbar {
    width: 0;
  }
  .nav-lista {
    background-color: #06214b;
    padding-top: 1rem;
  }

  .image{
    display: none;
  }
}

.nav-links {
  color: white;
  background-color: #06214b;
  font-weight: 600;
  padding: 1.25rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color .3s;
}

.nav-links:hover {
  background-color: #06214b;
}

.menu-responsivo {
  opacity: 1;
  top: 3.5rem;
  pointer-events: initial;
}

/* icons */
.icon-responsivo .nav-abrir {
  opacity: 0;
  transform: rotate(90deg);
}
.icon-responsivo .nav-fechar {
  opacity: 1;
  transform: rotate(90deg);
}

/* Link usuario */
.link-usuario {
  cursor: pointer;
}

.usuario-icon {
  font-size: 1.25rem;
  font-weight: initial;
  transition: transform .4s;
}

.usuario-links {
  padding: 1.25rem 1.25rem 1.25rem 2.5rem;
  color: white;
  background-color: #06214b;
  display: flex;
  align-items: center;
  column-gap: .5rem;
  font-weight: 600;
  transition: background-color .3s;
}

.usuario-links i {
  font-size: 1.25rem;
  font-weight: initial;
}

.usuario-links:hover {
  background-color: #06214b;
}

.usuario-menu {
  max-height: 0;
  overflow: hidden;
  transition: max-height .4s ease-out;
}

.link-usuario:hover .usuario-menu {
  max-height: 1000px;
  transition: max-height .4s ease-in;
}

.link-usuario:hover .usuario-icon {
  transform: rotate(180deg);
}

/*=============== HEADER RESPONSIVO ===============*/
@media screen and (max-width: 340px) {
  .container {
    margin-inline: 1rem;
  }

  .nav-links {
    padding-inline: 1rem;
  }
}

@media screen and (min-width: 1118px) {
  .container {
    margin-inline: auto;
  }

  .nav {
    height: calc(3.5rem + 2rem);
    display: flex;
    justify-content: space-between;
  }
  .nav-icons {
    display: none;
  }
  .nav-lista {
    height: 100%;
    display: flex;
    column-gap: 3rem;
  }
  .nav-links {
    height: 100%;
    padding: 0;
    justify-content: initial;
    column-gap: .25rem;
  }
  .nav-links:hover {
    background-color: transparent;
  }

  .link-usuario {
    position: relative;
  }

  .usuario-menu {
    max-height: initial;
    overflow: initial;
    position: absolute;
    left: 0;
    top: 6rem;
    opacity: 0;
    pointer-events: none;
    transition: opacity .3s, top .3s;
  }

  .usuario-links {
    padding-inline: 2rem;
  }

  .link-usuario:hover .usuario-menu {
    opacity: 1;
    top: 5.5rem;
    pointer-events: initial;
    transition: top .3s;
  }
}

/*=============== LANDING PAGE ===============*/

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

main div:first-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10vw;
    width: 30vw;
    margin-top: 70px;
}

main div:first-child h3 {
    font-size: 1.05rem;
    color: white;
}

main div:first-child h1 {
    font-size: 2.6rem;
    color: white;
}

#typing-bar {
    font-size: 2.3rem;
    color: white;
}

main div:first-child #typing-bar {
    animation: blink 0.5s infinite linear;
}

main > div:last-child {
    width: 60vw;
}

main div:last-child {
    display: flex;
    justify-content: center;
    align-items: center;
}

main div:last-child img {
    width: 40%;
    height: 45vh;
    margin-top: 110px;
    background: #06214b;
    border-radius: 48px;
}

footer {
    background: #06214b;
    color: #fff;
    width: 100vw;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    translate: 0 50%;
}

footer:hover {
    animation-name: show;
    animation-delay: 100ms;
    animation-iteration-count: 1;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}


footer section {
    width: 27.27%;
    margin-right: 9.09%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    cursor: pointer;
    padding: 0 1vw;
}

footer section small {
    font-size: 0.85rem;
}

footer section h3 {
    font-size: 1.45rem;
}

footer section p {
    font-size: 0.9rem;
    text-align: justify;
}

footer section.current {
    background: #ccc;
    height: 110%;
    translate: 0 -5%;
    color: #004faa;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer section.current small {
    font-size: 1rem;
}

footer section.current h3 {
    font-size: 1.5rem;
}

footer section.current p {
    font-size: 1rem;
    padding: 0 10%;
}

footer section:not(.current):hover {
    background: #0a4589;
    height: 100%;
}

@keyframes blink {
    0%, 100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}