@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Montserrat", sans-serif;
    font-size: .938rem;
    background-color: #f0f0f0;
    overflow-y: scroll;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1120px;
    margin-inline: auto;
    padding: 0 1rem;
}

/*=============== HEADER ===============*/
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #06214b;
    box-shadow: 0 2px 16px rgba(0, 0, 0, 0.3);
    z-index: 100;
    padding: 0.5rem 0;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo, 
.nav-abrir, 
.nav-fechar {
    color: white;
}

.logo {
    display: inline-flex;
    align-items: center;
    column-gap: .25rem;
    font-weight: 600;
}

.logo i {
    font-weight: initial;
    font-size: 1.25rem;
}

.nav-icons {
    display: none;
}

.nav-abrir, 
.nav-fechar {
    font-size: 1.25rem;
    cursor: pointer;
}

.nav-menu {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.nav-links {
    color: white;
    font-weight: 600;
    padding: 1rem;
    transition: background-color .3s;
}

.nav-links:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.link-usuario {
    position: relative;
}

.usuario-icon {
    font-size: 1.25rem;
    font-weight: initial;
    transition: transform .4s;
}

.usuario-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #06214b;
    border-radius: 0.5rem;
    overflow: hidden;
    max-height: 0;
    transition: max-height .4s ease-out;
}

.usuario-menu a {
    display: block;
    padding: 1rem 1.5rem;
    color: white;
    background-color: #06214b;
    transition: background-color .3s;
}

.usuario-menu a:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.link-usuario:hover .usuario-menu {
    max-height: 300px;
    transition: max-height .4s ease-in;
}

.link-usuario:hover .usuario-icon {
    transform: rotate(180deg);
}

@media (max-width: 768px) {
    .nav-menu {
        flex-direction: column;
        background-color: #06214b;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        overflow: hidden;
        transition: height .4s ease-out;
    }

    .nav-menu.open {
        height: 100vh;
        transition: height .4s ease-in;
    }

    .nav-icons {
        display: block;
    }
}

.bodyconta {
    margin-top: 5rem;
    padding: 2rem 1rem;
    background-color: #1e3662;
}

.conteudoconta {
    max-width: 600px;
    margin: 2rem auto;
    background-color: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.card {
    margin-bottom: 2rem;
    padding: 1rem;
    background-color: #fafafa;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.card img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: linear-gradient(375deg, #06214b, #06214b);
    padding: 5px;
}

.card h2 {
    margin-top: 1rem;
    color: #06214b;
}

.card h3 {
    margin-bottom: 1rem;
    color: #333;
}

.card p {
    margin: 0.5rem 0;
    color: #555;
}

.actions {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.button {
    padding: 0.75rem 1.5rem;
    background-color: #06214b;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color .3s;
}

.button:hover {
    background-color: #041530;
}
