/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: .938rem;
  background-color: #1e3662;
  overflow-y: scroll;
  margin-bottom: 5rem; 
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1120px;
  margin-inline: auto;
}

/*=============== HEADER ===============*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #06214b;
  box-shadow: 0 2px 16px hsla(220, 32%, 8%, .3);
  z-index: 100;
}

/* Nav */
.nav {
  height: 3.5rem;
}

.logo, 
.nav-abrir, 
.nav-fechar {
  color: white;
}

.logo {
  display: inline-flex;
  align-items: center;
  column-gap: .25rem;
  font-weight: 600;
}

.logo i {
  font-weight: initial;
  font-size: 1.25rem;
}

.nav-icons {
  position: relative;
  width: 32px;
  height: 32px;
}

.nav-abrir, 
.nav-fechar {
  position: absolute;
  width: max-content;
  height: max-content;
  inset: 0;
  margin: auto;
  font-size: 1.25rem;
  cursor: pointer;
  transition: opacity .1s, transform .4s;
}

.nav-fechar {
  opacity: 0;
}

.image{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image img{
  height: 60px;
  width: 60px;
  border-radius: 50%;
  box-shadow: 1px 1px 3px black;
  border: 3px solid #fff;
}

/* Nav Responsivo */
@media screen and (max-width: 1118px) {
  .nav-menu {
    position: absolute;
    left: 0;
    top: 2.5rem;
    width: 100%;
    height: calc(100vh - 3.5rem);
    overflow: auto;
    pointer-events: none;
    opacity: 0;
    transition: top .4s, opacity .3s;
  }
  .nav-menu::-webkit-scrollbar {
    width: 0;
  }
  .nav-lista {
    background-color: #06214b;
    padding-top: 1rem;
  }

  .image{
    display: none;
  }
}

.nav-links {
  color: white;
  background-color: #06214b;
  font-weight: 600;
  padding: 1.25rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color .3s;
}

.nav-links:hover {
  background-color: #06214b;
}

.menu-responsivo {
  opacity: 1;
  top: 3.5rem;
  pointer-events: initial;
}

/* icons */
.icon-responsivo .nav-abrir {
  opacity: 0;
  transform: rotate(90deg);
}
.icon-responsivo .nav-fechar {
  opacity: 1;
  transform: rotate(90deg);
}

/* Link usuario */
.link-usuario {
  cursor: pointer;
}

.usuario-icon {
  font-size: 1.25rem;
  font-weight: initial;
  transition: transform .4s;
}

.usuario-links {
  padding: 1.25rem 1.25rem 1.25rem 2.5rem;
  color: white;
  background-color: #06214b;
  display: flex;
  align-items: center;
  column-gap: .5rem;
  font-weight: 600;
  transition: background-color .3s;
}

.usuario-links i {
  font-size: 1.25rem;
  font-weight: initial;
}

.usuario-links:hover {
  background-color: #06214b;
}

.usuario-menu {
  max-height: 0;
  overflow: hidden;
  transition: max-height .4s ease-out;
}

.link-usuario:hover .usuario-menu {
  max-height: 1000px;
  transition: max-height .4s ease-in;
}

.link-usuario:hover .usuario-icon {
  transform: rotate(180deg);
}

/*=============== HEADER RESPONSIVO ===============*/
@media screen and (max-width: 340px) {
  .container {
    margin-inline: 1rem;
  }

  .nav-links {
    padding-inline: 1rem;
  }
}

@media screen and (min-width: 1118px) {
  .container {
    margin-inline: auto;
  }

  .nav {
    height: calc(3.5rem + 2rem);
    display: flex;
    justify-content: space-between;
  }
  .nav-icons {
    display: none;
  }
  .nav-lista {
    height: 100%;
    display: flex;
    column-gap: 3rem;
  }
  .nav-links {
    height: 100%;
    padding: 0;
    justify-content: initial;
    column-gap: .25rem;
  }
  .nav-links:hover {
    background-color: transparent;
  }

  .link-usuario {
    position: relative;
  }

  .usuario-menu {
    max-height: initial;
    overflow: initial;
    position: absolute;
    left: 0;
    top: 6rem;
    opacity: 0;
    pointer-events: none;
    transition: opacity .3s, top .3s;
  }

  .usuario-links {
    padding-inline: 2rem;
  }

  .link-usuario:hover .usuario-menu {
    opacity: 1;
    top: 5.5rem;
    pointer-events: initial;
    transition: top .3s;
  }
}

/*=============== PLAYLIST ===============*/

.sidebar {
    min-height: 100vh;
    padding-top: 100px;
    color: #06214b;
}

.sidebar .nav-link {
    color: #06214b;
    font-weight: 500;
    padding: 10px 20px;
}

.sidebar .nav-link:hover, .sidebar .nav-link.active {
    background-color: #06214b;
    color: #fff;
}

.main-content {
    padding: 50px;
    background-color: #1e3662;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    margin-top: 50px;
}

.playlist h2 {
    border-bottom: 2px solid #06214b;
    padding-bottom: 10px;
    margin-bottom: 20px;
    font-weight: 700;
    color: white;
}

.list-group-item {
    background-color: #06214b;
    border: none;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.list-group-item:hover {
    background-color: #374a79;
}

.btn-primary {
    background-color: #374a79;
    border: none;
}

.btn-primary:hover {
    background-color: #4f5f8f;
}

.audio-controls {
    text-align: center;
    margin-top: 20px;
}

.player {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #06214b;
    padding: 10px 20px;
    border-radius: 10px;
}

#playPauseBtn {
    background-color: #374a79;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}

#playPauseBtn:hover {
    background-color: #4f5f8f;
}

.song-info {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

#currentSong {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

#progressContainer {
    width: 100%;
    height: 5px;
    background-color: #374a79;
    border-radius: 5px;
    overflow: hidden;
}

#progress {
    width: 0;
    height: 100%;
    background-color: #1e3662;
    border-radius: 5px;
}

.hidden {
    display: none;
}
